 .contact{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 80vh;
 }

 .contact-heading{
    text-align: center;
    margin-top: 10px;
 }
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100%;
   
 }

 .form-div{
    display: flex;
    justify-content: center;
    width: 50%;
 }

 input[type=text]{
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
    width: 50%;
 }

 input[type=email] {
     font-size: 24px;
     line-height: 30px;
     margin-top: 30px;
     width: 50%;
     border: 1px solid black;
 }

 textarea {
    margin-top: 30px;
    font-size: 20px;
 }

 button{
    margin-top: 30px;
    font-size: 24px;
    padding: 5px;
 }

 #thank-you{
    margin-top: 30px;
    font-size: large;
 }